.game {
    overflow: hidden;
    image-rendering: pixelated;
    height: 100%;
    width: 100%;
}

.promotionDialog {
    border: 1px solid;
    border-radius: 50px;
    display: flex;
    gap: 8px;
    position: fixed;
    top: 50%;
    background: white;
    padding: 2px 8px;
}
