---
import Game from "components/Game";
---

<html>
    <head> </head>
    <body style="margin: 0; height: 100vh">
        <div class="centerApp">
            <Game client:only />
        </div>
    </body>
</html>
<style>
    .centerApp {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
</style>
