.sideBar {
    font-size: 2rem;
    display: flex;
    gap: 24px;
    min-width: 200px;
    border: 1px solid;
    border-radius: 12px;
    padding: 24px;
    justify-content: space-between;
    @media (min-aspect-ratio: 1/1) {
        flex-direction: column;
        height: calc(100% - 74px);
    };
}

.messageConatiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    @media (min-aspect-ratio: 1/1) {
        margin-top: 0;
        flex-direction: column;
        align-items: flex-start;
    };
}