.lobby {
    padding: 12px;
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    background-color: white;
    border-radius: 12px;
    justify-content: space-evenly;
    font-size: 2rem;
    align-items: center;
}

.joinArea {
    display: flex;
    gap: 8px;
}

.friendCode {
    font-size: 4rem;
}
