body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
    height: calc(100vh - 24px);
    background-color: #383e42;
}

#app {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 24px;
    border: 1px solid;
    border-radius: 24px;
    height: 100%;
    max-height: 1240px;
    width: 100%;
    max-width: 1500px;
    background-color: white;
    @media (max-aspect-ratio: 1/1) {
        flex-direction: column;
    }
}
